<app-header></app-header>

<div class=" d-flex justify-content-center"> 
  <input  style="margin: 20px; width:200px ;" type="number" placeholder="Price From"  [(ngModel)]="PriceFrom" class="form-control" />

  <input  style="margin: 20px; width:200px" type="number" placeholder="Price Into"  [(ngModel)]="PriceInto" class="form-control" />

  <button (click)="filterProduct()" class="btn btn-primary" style="height: 50px;margin: 20px">{{"Filter"|translate}}</button>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 " style="width: 100%; margin-top: 10px; margin-bottom: 10px;">

    <div class="col" *ngFor="let prd of prdOfferlist">
      <div class="card">
        <img src="{{prd.imgURL}}"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{prd.name}}</h5>
          <span style="color: red;">{{prd.Save}}</span>
          <br>
          <span ><del>{{prd.BeforeOffer}}</del>
            <br>
            {{prd.Price}}</span>  
        </div>
        <a  class="btn btn-primary"  (click)="AddToCart(prd)">{{"AddToCard"|translate}}</a>
      </div>
    </div>
  </div>  