
<div >
      <h4 class="text-end p-5">اجدد المنتجات</h4>
     <!-- <div class=" d-flex justify-content-center"> 
      <input  style="margin: 20px;" type="number" placeholder="Enter your Price" (change)="filterProduct()" [(ngModel)]="inputPrice" class="form-control" />

      <input style="margin: 20px;"  type="text" placeholder="Product/المنتج" (keyup)="filterByName(inputString.value)" #inputString class="form-control" />
    </div> -->
</div>
      <div class="row row-cols-1 row-cols-md-4 g-4" style="width: 100%;">

        <div class="col" *ngFor="let prd of prdOfferlist">
          <div class="card" >
            <img src="{{prd.imgURL}}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{prd.name}}</h5>
              <span style="color: red;">{{prd.Save}}</span>
              <br>
              <span ><del>{{prd.BeforeOffer}}</del>
                <br>
                {{prd.Price}}</span>  
            </div>
           

            <a  class="btn btn-primary"  (click)="AddToCart(prd)">{{"AddToCard"|translate}}</a>
          </div>

        </div>
      </div>
      